{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="row mt-5" >
<div class="col-md-3"></div>
<div class="col-md-7">
<div class="container">
    <div class="card">
        <div class="card-body">    
                    <p>Item Allocations for : <strong></strong> </p>
                    <hr>
                    <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Per</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <select class="form-control form-control-sm" id="myselect" style="width: 120px;height: 30px;" name="party_ac_name" onchange="goToLink()" >
                            <optgroup  label="List Of Locations"></optgroup>

                            </select>
                            </td>
                            <td><input class="form-control form-control-sm"  size="3"   type="number" name="auantity" id=""></td>
                            <td><input class="form-control form-control-sm" size="3" type="number" name="rate" id=""></td>
                            <td><input class="form-control form-control-sm" size="3" type="number" name="per" id=""></td>
                            <td><input class="form-control form-control-sm" size="3" type="number" name="amount" id=""></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
</div>
<div class="md-2"></div>
</div>
{% endblock %}