{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    select {
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }

    select optgroup {
        background-color: rgb(22 244 255 / 20%);
        color: white;
    }

    .form-control,
    .form-control:focus {
        background-color: rgb(255 0 0 / 14%);
        color: white;

    }
</style>
<!-- <h1>{{stock_it.name}#}</h1> -->
<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h1 style="background-color: hsl(0, 0%, 0%);">{{selected_value}} </h1>

                    <p>Item Allocations for : <strong style="font-size: medium;">{{stock_it.name}}</strong>
                        <strong></strong> <a href="{% url 'item_allocation_add'  %}" id="additem"
                            class="btn btn-md btn-primary">Add item</a>
                    </p>


                    <hr>
                        <input hidden type="text" name="item_name" id="" value="{{stock_it.name}}">
                        <table id="mytable" class="table table-sm">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Per</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>



                                {% if sales_st_it_allo %}
                               
                                    {% for sal_st in sales_st_it_allo %}
                                    <tr>
                                    <td> <input disabled type="text" value="{{sal_st.location}}"
                                            class="form-control form-control-sm" size="3" type="number" name="location"
                                            id="quantity"></td>
                                    <td><input disabled value="{{sal_st.quantity}}"  class=" form-control
                                            form-control-sm" size="3" type="number" name="quantity" id="quantity"></td>
                                    <td><input disabled value="{{sal_st.rate}}"  class=" form-control form-control-sm"
                                            size="3" type="number" name="rate" id="rate"></td>
                                    <td><input disabled value="{{sal_st.per}}" type="text"
                                            class="form-control form-control-sm" size="3" name="per" id=""></td>
                                    <td><input disabled value="{{sal_st.amount}}" type="text"
                                            class="form-control form-control-sm" size="3" type="number" name="amount"
                                            id="amount"></td>
                                    <td>
                                        
                                        <a href="{% url 'item_allocation_edit' sal_st.id %}" class="btn btn-sm btn-success">Edit</a>
                                        <a href="{% url 'item_allocation_delete' sal_st.id %}" class="btn btn-sm btn-success">Delete</a>
                                    </td>
                                </tr>
                                    {% endfor %}
                                
                                {% endif %}

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="md-2"></div>
</div>

<script>
    // // Get references to the input fields and result field
    // const rte = document.getElementById("rate");
    // const qty = document.getElementById("quantity");
    // const resultField = document.getElementById("amount");

    // // Add an event listener to the rte and qty to update the result field when they change
    // rte.addEventListener("input", updateResult);
    // qty.addEventListener("input", updateResult);

    // // Function to update the result field with the mul of num1 and num2
    // function updateResult() {
    //     // Get the values entered in the two input fields
    //     const num1 = parseFloat(rte.value) || 0; // Use 0 if value is NaN
    //     const num2 = parseFloat(qty.value) || 0;

    //     // Calculate the mul and set the value of the result field
    //     const mul = num1 * num2;
    //     resultField.value = mul;
    // }
</script>
{% endblock %}