{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
        select{
        background-color: rgba(0,0,0,0.2);  
        color: white;
    }
    select optgroup{
        background-color: rgb(22 244 255 / 20%);  
        color: white;  
    }
    .form-control,
    .form-control:focus {
        background-color: rgb(255 0 0 / 14%);
        color:white;
        
    }
</style>
<div class="row mt-5" >
<div class="col-md-3"></div>
<div class="col-md-7">
<div class="container">
    <div class="card">
        <div class="card-body">    
                    <p>Item Allocations for : {{string_value}} <strong></strong> <button id="additem" class="btn btn-md btn-primary">Add item</button> </p>
                    <hr>
                    <table id="mytable" class="table table-sm">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Per</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <select class="form-control form-control-sm" id="myselect" style="width: 120px;height: 30px;" name="party_ac_name" onchange="goToLink()" >
                            <optgroup  label="List Of Locations"></optgroup>
                             <option value="">Create</option>
                             
                             {% for cr  in crt_god  %}
                             <option value="{{cr.name}}">{{cr.name}}</option>
                             {% endfor %}
                                
                             

                            </select>
                            </td>
                            <td><input type="text"  class="form-control form-control-sm"  size="3"   type="number" name="quantity" id=""></td>
                            <td><input type="text" class="form-control form-control-sm" size="3" type="number" name="rate" id=""></td>
                            <td><input type="text" class="form-control form-control-sm" size="3" type="number" name="per" id=""></td>
                            <td><input type="text" class="form-control form-control-sm" size="3" type="number" name="amount" id=""></td>
                            <td><a href="#" class="btn btn-sm btn-success">Save</a>
                                <a href="#" class="btn btn-sm btn-success">Edit</a>
                                <a href="#" class="btn btn-sm btn-success">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
</div>
<div class="md-2"></div>
</div>

<script>

</script>
{% endblock %}