{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row mt-5 ml-5">
        <div class="md-3"></div>
        <div class="md-7">
            <div class="card ml-5">
                <div class="card-body">
                    <form class="" action="" method="post">
                        {% csrf_token %}
                        <input hidden type="text" name="item_name" id="" value="{{stock_it.name}}">
                        <div class="form-group row">
                            <div class="col">
                                <label for="">Location</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control form-control-sm" id="myselect" style="width: 120px;height: 30px;" name="location" onchange="goToLink();" >
                                    <optgroup  label="List Of Locations"></optgroup>
                                     <option value="Create">Create</option>
                                     <option value="" selected></option>
                                     {% for cr  in crt_god  %}
                                     <option name="" value="{{cr.name}}">{{cr.name}}</option>
                                     
                                     {% endfor %}
                                        
                                     
        
                                    </select>
                            </div>
                        </div> <br>
                        <div class="form-group row">
                            <div class="col">
                                <label for="">Quantity</label>
                            </div>
                            <div class="col-8">
                                <input required class="form-control " type="number" name="quantity" id="quantity">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="">Rate</label>
                            </div>
                            <div class="col-8">
                                <input  required class="form-control " type="number" name="rate" id="rate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="">Per</label>
                            </div>
                            <div class="col-8">
                                <input  value="NOS" disabled required class="form-control " type="text" name="Per" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="">Amount</label>
                            </div>
                            <div class="col-8">
                                <input  disabled required class="form-control " type="number" name="amount" id="amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                              
                            </div>
                            <div class="col-8">
                                <button type="submit" class="btn btn-success btn-lg">Add an Item</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  document.getElementById("quantity").oninput = function() {
    calculateSum();
  };

  document.getElementById("rate").oninput = function() {
    calculateSum();
  };

  function calculateSum() {
    var textbox1 = document.getElementById("quantity").value;
    var textbox2 = document.getElementById("rate").value;
    var result = parseFloat(textbox1) * parseFloat(textbox2);

    document.getElementById("amount").value = result;
  }

  function goToLink(){
            var sel = document.getElementById("myselect");
            var a = sel.value;
            console.log(a);
            if(a=="Create"){
                window.location.href="{% url 'godown_secondary' %}"
            }
         
        }
</script>


{% endblock %}