{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    * {
        color: black;
    }

    .main-head {

        background-color: aqua;
        color: black;
        font-size: medium;
        padding: 2px;
    }

    .main-color {
        background-color: bisque;
    }
     .form-control,
    .form-control:focus {
        background-color: rgb(255 0 0 / 14%);
        color: black;
        
    }
    select  option  {
        background-color: rgb(255 0 0 / 14%);
        color: black;
    }
    select option:active ,section option:focus, section option:hover ,section option:checked{
        background-color: rgb(255 0 0 / 14%);
        color: black;
    }
 
</style>
<div class="container">
    <h3 class="main-head">Party details </h3>
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-5">
            <div class="card main-color">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                    <strong>
                        <center style="text-decoration: underline;">Party Details
                        </center> </strong>
                        
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">Buyer (Bill to)</label> 
                            </div>
                            <div class="col-8">
                                <select onchange=newpage() id="myselect" class="form-control form-control-sm" name="buyer_bill_to" >
                                    <optgroup  label="List Of Ledger Accounts"></optgroup>
                                    <option   selected disabled ></option>
                                    <option   >Create</option>
                                    <option value="#">New party</option>
                                    <option value="#">Cash</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">Mailing Name</label> 
                            </div>
                            <div class="col-8">
                                <input name="mailing_name" class="form-control form-control-sm" type="text" name="" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">Adress</label> 
                            </div>
                            <div class="col-8">
                                <textarea class="form-control form-control-sm" name="adress" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">States</label> 
                            </div>
                            <div class="col-8">
                                <select class="form-control form-control-sm" name="state">
                                    <optgroup  label="List Of States"></optgroup>
                                    <option value="">Select State</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">Country</label> 
                            </div>
                            <div class="col-8">
                                <select id="country" class="form-control form-control-sm" name="country">
                                    <optgroup  label="List Of Countries"></optgroup>
                                    
                                </select> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                             <label style="font-size:11px;" for="">GST Registration type</label> 
                            </div>
                            <div class="col-8">
                                <select id="gst_reg_typ"  class="form-control form-control-sm" name="gst_reg_typ">
                                    <optgroup  label="Registration types"></optgroup>
                                    <option value="Unknown">Unknown</option>
                                    <option value="Composition">Composition</option>
                                    <option value="Consumer">Consumer</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Unregistered">Unregistered</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">GSTIN/UN</label> 
                            </div>
                            <div class="col-8">
                                <input id="txt_gstin" class="form-control form-control-sm" type="text" name="GSTIN" id="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                               <label for="">Place of Supply</label> 
                            </div>
                            <div class="col-8">
                                <select class="form-control form-control-sm" name="place_of_supply">
                                    <optgroup  label="List Of States"></optgroup>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                </select> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button class="btn btn-lg btn-success w-75" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                   </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"> </div>
    </div>
</div>


<script>
    fetch("https://restcountries.com/v2/all")
    .then(response => response.json())
    .then(data => {
        var select = document.getElementById("country");
        data.forEach(function(country){
            var option = document.createElement("option");
            option.value = country.alpha2Code;
            option.text = country.name;
            select.appendChild(option);
        });
    });
    var gstreg=document.getElementById("gst_reg_typ")
    var txt_gsti=document.getElementById("txt_gstin")
    gstreg.addEventListener("change",function(){
        if (gstreg.value=="Consumer" || gstreg.value=="Unregistered")
        {
            txt_gsti.disabled=true; 
        }else{
            txt_gsti.disabled=false; 
        }
    })
    function newpage(){
            var sel = document.getElementById("myselect");
            var a = sel.value;
            console.log(a);
            if(a=="Create"){
                window.location.href="{% url 'ledgers' %}"
            }
        }


</script>
{% endblock %}