{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
 

    .main-head {
        background-color: #70c5c5;
        color: white;
        font-size: medium;
        padding: 2px;

    }

    .main-color {
        background-color: rgba(0,0,0,0.2);
        color: white;

    }

    nav-item {
        color: white;
    }
    select{
        background-color: rgba(0,0,0,0.2);  
        color: white;
    }
    select optgroup{
        background-color: rgb(22 244 255 / 20%);  
        color: white;  
    }
    /* select  option  {
        background-color: rgba(0,0,0,0.2);
        color: white; 
    } */
    /* select option:active ,section option:focus, section option:hover ,section option:checked{
        background-color: rgba(0,0,0,0.2);
        color: white; 
    } */
    .form-control,
    .form-control:focus {
        background-color: rgb(255 0 0 / 14%);
        color:white;
        
    }
    input[type="text"],input[type="date"]{
        background-color: rgba(0,0,0,0.2);
        color: white; 
    }

</style>
<div class="container main-color">
    <div class="card main-color">

        <div class="card-body">
            <div class="row ">
                <form action="" method="post"></form>
                <div class="col-md-6 ">
                    <h3 class="main-head">Accounting Voucher Creation</h3>
                    <p style="background-color: blueviolet;display: inline; padding: 0 25px;">
                        Sales
                    </p>&nbsp;&nbsp;&nbsp;
                    <label>NO</label>
                    <input name="billno" type="text"> <br><br> <br>
                    <label for="">Party A/C name :</label>
                    &nbsp;&nbsp;
                    
                    <select id="myselect" style="width: 250px;height: 30px;" name="party_ac_name" onchange="goToLink()" >
                        <optgroup  label="List Of Ledger Accounts"></optgroup>
                        <option  selected disabled ></option>
                        <option  value="Create"  >Create</option>
                        {% for pr in party_ledg  %}
                        <option value="{{pr.mname}}">{{pr.mname}}
                            
                        </option>
                        {% endfor %}
                    </select> <br> <br>
                </form>
                    <label for="">Current Balance :</label>
                    &nbsp;&nbsp;
                    <input type="text" size="35"> <br> <br>

                    <label for="">Sales ledger :</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <select id="myselect2" onchange="goToLink()" style="width: 250px;height: 30px;" name="sale_ledger" >
                        <optgroup  label="List Of Ledger Accounts"></optgroup>
                        <option  selected disabled ></option>
                        <option >Create</option>
                        
                        {% for sl in sale_ledg %}
                        <option value="{{sl.mname}}">
                            {{sl.mname}}
                        </option>  
                        {% endfor %}
                            

                            
                    </select> <br> <br>

                    <label for="">Current Balance :</label>
                    &nbsp;&nbsp;
                    <input type="text" size="35"> <br> <br>

                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <!-- <div class="btn-group-vertical" role="group" > -->
                        <input type="date" name="date" id="">
                        <!-- <button type="button" class="btn btn-info">Company</button> <br>
                        <button type="button" class="btn btn-info">Contra</button>
                        <button type="button" class="btn btn-info">Payment</button>
                        <button type="button" class="btn btn-info">Receipt</button>
                        <button type="button" class="btn btn-info">Journal</button> -->
                    </div>
      
                </div>

            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <th><strong>Name of item</strong> </th>
            <th><strong>Quantity</strong></th>
            <th><strong>Rate</strong>  </th>
            <th><strong>Per</strong>  </th>
            <th><strong>Amount</strong></th>
        </thead>
        <tbody>
            <tr>   
                <td>                  
                <select id="myselect3" onchange="window.location.href=this.value;"  style="width: 250px;height: 30px;" name="sale_vouch" >
                <optgroup  label="Endlist"></optgroup>
                <option  selected disabled ></option>
                <option value="{% url 'stock_items_creation' %}">Create</option>
                
                {% for st in stock_items %}
                <option name="stock" id="stock" value="{% url 'item_allocation' st.id  %}" >
                    {{st.name}}
                </option>  
                {% endfor %}
            </td> 
            <td><input  type="text" name="quantity" id=""></td>
            <td><input type="text" name="rate" id=""></td>
            <td><input type="text" name="per" id=""></td>
            <td><input type="text" name="Amount" id=""></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    
    function goToLink(){
            var sel = document.getElementById("myselect");
            var sel2= document.getElementById("myselect2");
            var sel3= document.getElementById("myselect3");
            var a = sel.value;
            var b = sel2.value;
            var c = sel3.value;
            console.log(a);
            if(a=="Create"){
                window.location.href="{% url 'ledgers' %}"
            }
            if(b=="Create"){
                window.location.href="{% url 'ledgers' %}"
            }

    }
    // function goToLink2(){
    //     var sel3= document.getElementById("myselect3");
    //     var d=sel3.value;
    //     if (d !="Create"){
    //         window.location.href="{#% url 'item_allocation' %#}"
    //     }
        
    // }
</script>
{% endblock %}